@import "./reset.css";

:root {
    --app-dark-grey-bg:#2c2d33;
    --app-dark-bg:#131313;
    --app-light-bg:#f1f2f3;
    --app-dark-blue: #2B4162;
}
    
body {
    background: var(--app-light-bg);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/

main {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: #2e3440;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 5555;
}

.overlay .loader {
    border: 5px solid var(--app-light-bg);
    border-top: 5px solid transparent;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
    z-index: 9999;
} 

#map { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1111;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none !important;
}

/**************************************************/
/*****       Animations                      ******/
/**************************************************/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}