@import "./reset.css";

:root {
    --app-dark-grey-bg:#2c2d33;
    --app-dark-bg:#131313;
    --app-light-bg:#f1f2f3;
    --app-dark-blue: #2B4162;
}
    
body {
    background: var(--app-light-bg);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/

main {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.03);
    display: grid;
    place-items: center;
}

.overlay .loader {
    border: 5px solid var(--app-dark-blue);
    border-top: 5px solid transparent;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
} 

#map { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#fly {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: background-color 0.25s ease-in-out;
    background-color: var(--app-dark-blue);
    color: #fff;
    padding: 0 10px;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none !important;
}

/**************************************************/
/*****       Animations                      ******/
/**************************************************/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}